@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

/* BG DOCTOR */
.bg-doctor {
  /* background: url("https://images.unsplash.com/photo-1582560469781-1965b9af903d?q=80&w=1993&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background: url("https://images.unsplash.com/photo-1578496479763-c21c718af028?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; /* La imagen se ajustará para cubrir todo el contenedor */
  background-position: center center; /* La imagen se centrará en el contenedor */
}

/** Icons */
.icon-persons {
  background-image: url("../assets/svg/group_FILL0_wght400_GRAD0_opsz24.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px;
  background-repeat: no-repeat;
}

.icon-infrastructure {
  background-image: url("../assets/svg/apartment_FILL0_wght400_GRAD0_opsz24.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px;
  background-repeat: no-repeat;
}

.icon-procedures {
  background-image: url("../assets/svg/developer_board_FILL0_wght400_GRAD0_opsz24.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px;
  background-repeat: no-repeat;
}

.icon-appointments {
  background-image: url("../assets/svg/calendar_month_FILL0_wght400_GRAD0_opsz24.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px;
  background-repeat: no-repeat;
}

.icon-exit-logout {
  background-image: url("../assets/svg/logout_FILL0_wght400_GRAD0_opsz24.svg");
  width: 24px; /* Ajusta el ancho según tus necesidades */
  height: 24px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
}

.icon-close {
  background-image: url("../assets/svg/close_FILL0_wght400_GRAD0_opsz24.svg");
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: 18px;
  background-repeat: no-repeat;
}

.icon-burger {
  background-image: url("../assets/svg/menu_FILL0_wght400_GRAD0_opsz24.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: 24px;
  background-repeat: no-repeat;
}

/** Arrow */
.icon-arrow-left {
  background-image: url("../assets/svg/chevron_left_FILL0_wght400_GRAD0_opsz24.svg");
  width: 24px; /* Ajusta el ancho según tus necesidades */
  height: 24px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
}

/** Dashboard  */
.icon-dashboard {
  background-image: url("../assets/svg/gauge-solid.svg");
  width: 16px; /* Ajusta el ancho según tus necesidades */
  height: 16px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
}

.icon-doctor {
  background-image: url("../assets/svg/user-md-solid.svg");
  width: 16px; /* Ajusta el ancho según tus necesidades */
  height: 16px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
  background-repeat: none;
  background-position: center;
}
.icon-person-circle {
  background-image: url("../assets/svg/user-circle-regular.svg");
  width: 16px; /* Ajusta el ancho según tus necesidades */
  height: 16px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
  background-repeat: none;
  background-position: start;
}

.icon-power-off {
  background-image: url("../assets/svg/power-off-solid.svg");
  width: 16px; /* Ajusta el ancho según tus necesidades */
  height: 16px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
  background-repeat: none;
  background-position: start;
}

.icon-arrow-down {
  background-image: url("../assets/svg/chevron-down-solid.svg");
  width: 10px; /* Ajusta el ancho según tus necesidades */
  height: 12px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
  background-repeat: none;
  background-position: start;
}

.icon-config {
  background-image: url("../assets/svg/gear-solid.svg");
  width: 16px; /* Ajusta el ancho según tus necesidades */
  height: 16px; /* Ajusta la altura según tus necesidades */
  display: inline-block;
  background-repeat: none;
  background-position: start;
}
/*
SIDEBAR RESPONSIVE
*/
/* .sidebar {
  position: relative;

  gap: 20px;
  background-color: #fff;
  padding: 24px;
  transition: all 0.3s;
}

.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}
.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 4px 4px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}
.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}
.menu:not(:last-child) {
  padding-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .sidebar {
    position: fixed;
    background-color: #ffff;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    z-index: 99;
  }
  .active-navbar {
    opacity: 1;
    left: 0;
  }
} */
@media (max-width: 1280px) {
  .showOnMobile {
    display: block !important;
  }

  .aside-content {
    position: fixed;
    background-color: #ffff;
    top: 0;
    left: -30%;
    height: 100%;
    width: 30%;
    transition: 0.3s;
    z-index: 99;
  }
  .active {
    opacity: 1;
    left: 0;
    /* z-index: 1 !important; */
  }
}

@media (max-width: 768px) {
  .showOnMobile {
    display: block !important;
  }

  .aside-content {
    position: fixed;
    background-color: #ffff;
    top: 0;
    left: -60%;
    height: 100%;
    width: 60%;
    transition: 0.3s;
    z-index: 99;
  }
  .active {
    opacity: 1;
    left: 0;
    /* z-index: 1; */
  }
}